<footer class="navbar bg-dark fixed-bottom justify-content-center container-fluid" style="color: white; height: 110px;"  id="footer">
    
        
           
          <p style="font-size: 20px; margin-bottom: -20px; margin-top: -20px;"> African Golf Awards.
           &copy;
           {% now 'Y' %} 

           <p>
       
    <div style="margin-bottom: -20px;"class="row container-fluid justify-content-center">

   
   	
    <div class="col-4 col-md-4">
   	<p><a href=""><i style=" color:red; font-size:18px" class="fab fa-instagram"> Contact Us</i></a></p>
   	<p><a href=""><i style=" color:blue; font-size:18px" class="fab fa-facebook-square"> Contact Us</i></a></p>
   </div>
   <div class="col-4 col-md-4">
   	<p><a href=""><i style="color:lightblue; font-size:18px" class="fab fa-twitter"> Contact Us</i></a></p>
   	<p><a href=""><i style="color:blue; font-size:18px " class="fab fa-linkedin"> Contact Us</i></a></p>
   </div>
   <div class="col-4 col-md-4">
     <p><a href=""><i style="color:red; font-size:18px" class="far fa-envelope"> Contact Us</i></a></p>
    <p><i style=" color:green; font-size:14px" class="fas fa-phone"> +254702679337</i></p>
      
   </div>
   </div>
    
</footer>