{% extends "base.html" %}

{% block content%}

<div id="home" class="container-fluid">
	
<div class="row">
<div id="tron" class="jumbotron container col-10 offset-1" style="text-align:center; height:400px width:400px; opacity:0.75;" >
  <h1 class="display-4">African Golf Awards.</h1>
  <p class="lead">{{name}} </p>
  <hr class="my-4">
  <p class="lead">Vision: To Integrate Africa Through The Game Of Golf.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

</div>
</div>


{% endblock content%}